.item {
    position: relative;
    width: 50vw;
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: #61dafb;
}

.item div{
    display: flex;
    margin: auto;
}

.sun {
    position: absolute;
    top: 10px;
    right: 0px;
    width: 100px;
    height: 100px;
    /*
    border-radius: 100px;
    background-color: yellow;
    */

}

.temp{
    font-size: 130px;
}
.temp_10 {
    font-size: 100px;
}

.feels_like{
    font-size: 20px;
}

img{
    width: 50px;
    height: 50px;
}

.sunrise_sunset{
    padding: 20px;
}

.windDeg{

}