.item {

}

.itemSpan {
    position: relative;
    cursor: pointer;
    width: 177px;
    height: 160px;
    left: 100px;
    top: 50px;
    transition: top 5s cubic-bezier(.5, -1, .5, 2);
}

.itemSpanGo {
    position: relative;
    cursor: pointer;
    width: 177px;
    height: 160px;
    left: 100px;
    transition: top 1s cubic-bezier(1, -0.2, 1, 1);
    top: 500px;
}

.itemSpanDel {
    /*display: none;*/
    color: white;
    position: relative;
    cursor: pointer;
    width: 177px;
    height: 160px;
    left: 100px;
    top: 50px;
}