.item {
    width: 100%;
    height: 600px;
    overflow: hidden;

}

.itemSpan {
    position: relative;
    cursor: pointer;
    width: 177px;
    height: 160px;
    left: 10px;
    top: 50px;
 /*   transition: top 5s cubic-bezier(.5, -1, .5, 2);*/
}

.itemSpanGo {
    position: relative;
    cursor: pointer;
    width: 177px;
    height: 160px;
    left: -50px;
/*    transition: top, left 1s cubic-bezier(1, -0.2, 1, 1);*/
    top: 1500px;
    transition-property: top, left;
    transition-duration: 2s, 5s;
    transition-timing-function: cubic-bezier(1, -0.2, 1, 1), cubic-bezier(0, 0, 1, 1);
}

.itemSpanDel {
    /*display: none;*/
    color: white;
    position: relative;
    cursor: pointer;
    width: 177px;
    height: 160px;
    left: 100px;
    top: 50px;
}