.item {
    min-height: calc(100vh - 50px);
    background-color: chartreuse;
}

/*
.calculator_body {
    display: flex;
    background-color: burlywood;
    width: 400px;
    height: 400px;
    flex-direction: column;
}
.calculator_screen{
    background-color: #0066ff;
!*    width: 90%;
    height: 10%;*!
    margin: 5%;
    flex-grow: 1;
}
.calculator_buttons {
    display: flex;
    background-color: #ff3c00;
!*    width: 90%;
    height: 70%;*!
    margin: 5%;
    flex-grow: 5;
    flex-direction: row;
}
.row_numeric_buttons{
    display: flex;
    background-color: #eab773;
!*    width: 100%;
    height: 100px;*!
    flex-grow: 1;
}
.numbers_button {
    display: flex;
    background-color: green;
    flex-grow: 1;
!*    width: 100px;
    height: 100px;*!
    margin: 10px;
}
.row_control_buttons{
    display: flex;
    background-color: #eab773;
    !*    width: 100%;
        height: 100px;*!
    flex-grow: 1;
}
.row_buttons{
    display: flex;
    flex-grow: 3;
    flex-direction: column;
}
.vert_math_actions_buttons{
    display: flex;
    background-color: #eab773;
    !*    width: 100%;
        height: 100px;*!
    flex-grow: 1;
    flex-direction: column;
}*/

.calculator_body {
    display: grid;
    grid-template-columns:  repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);
    background-color: burlywood;
    width: 400px;
    /*height: 400px;*/
    gap: 10px;
    padding: 10px;
}

.calculator_screen1 {
    grid-column: 1/5;
    grid-row: 2/3;
    background-color: #c1f9ff;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 5px;
}

.calculator_screen2 {
    grid-column: 1/5;
    grid-row: 1/2;
    background-color: #c9d2d4;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 5px;
    font-size: 22px;
}

input[type="text"] {
    font-size: 25px;
    color: transparent;
    text-shadow: 0 0 0 #000;
}

input[type="text"]:focus {
    outline: none;
}


/* Button */

.numbers_button {
    background-color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 3px;
    color: #282c34;
    text-decoration: none;
    font-size: 25px;
}

.numbers_button:hover {
    background-color: #c9d2d4;
    /*color: #282c34;*/
}

.iconButton{
    width: 40px;
    height: 40px;
}
.buttonNull{
    background-color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 3px;
    color: #282c34;
    text-decoration: none;
    font-size: 0px;
}
.buttonNull:hover {
    background-color: #c9d2d4;
}
