.space {
    width: 100%;
    min-height: calc(100vh - 90px);
    margin: 0 auto;
    text-align: center;
}

.flies {
    width: 100%;
    min-height: calc(70vh);
    margin: 0 auto;
}

.fly {
    position: absolute;
    width: 6px;
    height: 16px;
    color: #009a44;
    background-color: black;
    border-radius: 3px;
    display: inline-block;
}

.fly div {
    position: relative;
    background-color: black;
    border-radius: 3px;
}

.fly0 {
    width: 2px;
    height: 6px;
    border-radius: 0px;
    left: 2px;
    top: -43px;
}

.fly1 {
    width: 6px;
    height: 6px;
    left: -3px;
    top: -3px;
}

.fly2 {
    width: 6px;
    height: 6px;
    left: 3px;
    top: -9px;
}

.fly3 {
    width: 6px;
    height: 12px;
    left: -3px;
    top: -9px;
    transform: rotate(45deg);
}

.fly4 {
    width: 6px;
    height: 12px;
    left: 3px;
    top: -21px;
    transform: rotate(-45deg);
}


.fly5 {
    width: 1px;
    height: 27px;
    left: 3px;
    top: -47px;
    transform: rotate(45deg);
}

.fly6 {
    width: 1px;
    height: 27px;
    left: 2px;
    top: -74px;
    transform: rotate(-45deg);
}

.fly7 {
    width: 18px;
    height: 1px;
    left: -12px;
    top: -89px;
    transform: rotate(14deg);
}

.fly8 {
    width: 18px;
    height: 1px;
    left: 0px;
    top: -90px;
    transform: rotate(-14deg);
}


.numberFlies {

}

.countingFlies {

}