.item {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex-flow: row wrap;


    background-color: #e2ff9f;
    height: calc(100vh - 50px);

}

.nLink {
    width: 300px;
    height: 200px;
    border: 2px solid red;
    margin: auto;
    display: flex;
    border-radius: 5px;
    background-color: #dbff82;
}

.nLink:hover {
    border: 2px solid #dd00ff;
    background-color: #61dafb;
    border-radius: 5px;

}

.nLink div {
    margin: auto;
}

.nLink div:hover {
    margin: auto;
    background-color: #61dafb;
}