.item {
    width: 100%;
    height: 500px;
    text-align: center;
padding-top: 30px;
}
.arrowClock {
    margin:20px auto;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    animation-name: rotation;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    background-color: #61dafb;
    animation-play-state: paused;
    text-align: center;
}
.arrowClock2 {
    margin:20px auto;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    animation-name: rotation2;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    background-color: #61dafb;
    animation-play-state: paused;
    text-align: center;
}
@keyframes rotation {
    0% {
        transform:rotate(0deg);
    }
    100% {
        transform:rotate(360deg);
    }

}
@keyframes rotation2 {
    0% {
        transform:rotate(0deg);
    }
    100% {
        transform:rotate(360deg);
    }

}

.arrow{
    display: inline-block;
    width: 5px;
    height: 100px;
    background-color: red;

}